/* Topbar toggle button */
.topbar {
  position: fixed;     /* 🔥 important */
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #5a2d6f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;       /* 🔥 keep above everything */
}

/* Left open/close icon */
.icon-btn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* ✅ Right logout icon */
.logout-icon-btn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
   height: calc(100vh - 60px); /* header height */
  background: #58236ee9;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 50px;
  transition: 0.3s;
  overflow: hidden;
  overflow-y: auto;     /* scroll enable */
   padding-bottom: 50px;
}

.sidebar.open {
  width: 220px;
}

.sidebar.close {
  width: 0;
  padding: 0;
}

/* Logo */
.logo {
  color: white;
  margin-bottom: 30px;
}

/* Menu links */
.menu {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.menu:hover {
  background: #fc00fc;
}



/* .topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5a2d6f;
  height: 50px;
  padding: 0 15px;
} */

/* .topbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
} */

.company-name {
  color: white;
  font-size: 10px;
  font-weight: bold;
  margin-right: -80%;
}
.modifier-container {
  margin-top: 70px; /* adjust based on header height */
}